<%= form_with(model: @environment) do |form| %>
  <% console %>
  <% @environment.fields.each do |field| %>
    <div>
      <%= form.label :value, field.name %>
      <%= form.text_field :value, name: "environment[fields][#{field.name}]", value: field.value %>
    </div>
  <% end %>
  <%= form.submit %>
<% end %>
